name: Auto-Tag Live Deployments

concurrency:
  group: ${{ github.workflow }}-live
  cancel-in-progress: false

on:
  push:
    branches:
      - main

jobs:
  create_next_live_tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to create and push the tag

    steps:
    - uses: ./.github/actions/pantheon-auto-tag
      with:
        target_env: test
